/* Reset default margin, padding and enable better box sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the to-do list app within the page */
.to_do_list{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container with max width and shadow */
.list_container{
    max-width: 600px;
    width: 100%;
    overflow: hidden; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style the list container */
ul{
    list-style-type: none;
    background-color:rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

/* List title */
h3{
    
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

/* Header containing title and add button */
.headerList{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 190);
}

/* Add button styles */
.addLi{
    color: white;
    border: solid 0.5px white;
    border-radius: 10px;
    background-color: rgb(43, 43, 190);
    padding: 0.5rem;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

/* Add button on hover */
.addLi:hover{
    transform: scale(1.1);
    background-color:  rgb(37, 37, 177);
    color:rgb(155, 208, 255);
    border: solid 0.5px rgb(155, 208, 255);
}

/* Add button on click */
.addLi:active{
    transform: scale(0.95);
    background-color:  rgb(37, 37, 177);
    color:rgb(155, 208, 255);
    border: solid 0.5px rgb(155, 208, 255);
}

/* Each list item */
li{
    padding:1rem;
    text-align:left;
    border-top: solid 3px white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Input field inside list item */
.INPlist{
    border: none;
    outline: none;
    background-color: rgb(206, 206, 206);;
    padding: 0.5rem;
    margin-left: 3rem;
    font-size: 1.4rem;
}

/* Remove button */
.removeLi{
    border: solid 0.5px black; 
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    padding: 0.5rem;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

/* Remove button on hover */
.removeLi:hover{
    transform: scale(1.1);
    background-color:  rgb(184, 182, 182);
}

/* Remove button on click */
.removeLi:active{
    transform: scale(0.95);
    background-color: rgb(184, 182, 182);
}
